In [2]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: @None'

In [11]:
%%sql

create table cartoon(firstname varchar(20), lastname varchar(24));
#select * from cartoon

 * sqlite://
Done.
(sqlite3.OperationalError) near "#select": syntax error [SQL: '#select * from cartoon'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [7]:
%%sql 
SELECT * FROM WORKER

 * sqlite://
(sqlite3.OperationalError) no such table: WORKER [SQL: 'SELECT * FROM WORKER'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
CREATE TABLE Bonus \
    (WORKER_REF_ID INT,BONUS_AMOUNT float(10),BONUS_DATE VARCHAR(20),FOREIGN KEY (WORKER_REF_ID)REFERENCES Worker(WORKER_ID) ON DELETE CASCADE) ;
CREATE TABLE Title \
    (WORKER_REF_ID INT,WORKER_TITLE CHAR(25),AFFECTED_FROM VARCHAR(20),FOREIGN KEY (WORKER_REF_ID)REFERENCES Worker(WORKER_ID) ON DELETE CASCADE );

CREATE TABLE Worker \
    (WORKER_ID INT NOT NULL PRIMARY KEY, FIRST_NAME CHAR(25), LAST_NAME CHAR(25),SALARY FLOAT(20), JOINING_DATE VARCHAR(20),DEPARTMENT CHAR(25));

In [14]:
import sqlite3
import time
import datetime

path = "myDatabase2.db"
con = sqlite3.connect(path)     
c = con.cursor()

def create_table():
    c.execute('CREATE TABLE reminders(date varchar(20), memo varchar(20))')
    con.commit()    
    c.close()       
    con.close()

def variable_entry(memo):
    Time = time.time()
    date = str(datetime.datetime.fromtimestamp(Time).strftime('%Y-%m-%d %H:%M:%S'))
    sqlvar = "INSERT INTO reminders VALUES('" + str(date) + "','" + str(memo) + "' )"
    sqlvarstr = "\"" + sqlvar + "\""
    c.execute(sqlvarstr)
    con.commit()

variable_entry('hello world')

create_table()

OperationalError: near ""INSERT INTO reminders VALUES('2019-10-25 08:53:32','hello world' )"": syntax error